.heading {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  color: #ff5776;
}
.textBlock1 {
  text-align: center;
  font-size: 16px;
  display: flex;
  justify-content: center;

  .textDsp1 {
    width: 60%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

.textBlock2 {
  text-align: center;
  font-size: 16px;
  display: flex;
  justify-content: center;

  .textDsp2 {
    margin: 20px 0px;
    padding: 10px 0;
    width: 30%;
    border-bottom: 2px solid #ff5776;
    border-top: 2px solid #ff5776;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

.textBlock3 {
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: center;
  
    .textDsp3 {
      margin: 20px 0px;
      padding: 10px 0;
      width: 80%;
  
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
.pointsTxt{
    font-size: 20px;
}